<div class="partner-form-container" style="background-image: url(<%= asset_url @good.photo_one %>)">
  <div class="partner-card">


    <%= simple_form_for [@good, @partner] do |f|  %>
    <div class="field">
      <%= f.input :numberber_of_passengers %>
    </div>
    <div class="field">
      <%= f.input :km_month %>
    </div>
    <div class="field">
      <%= f.input :frenquency_month %>
    </div>

    <%= f.button :submit, class:'btn btn-light' %>
    <%= link_to "Cancel", :back, class:'btn btn-light' %>

    <% end %>
  </div>
</div>
