<%= simple_form_for [@good, @partner] do |f|  %>

<div class="field">
  <%= f.input :km_month %>
</div>
<div class="field">
  <%= f.input :track_use, as: :boolean %>
</div>
<div class="field">
  <%= f.input :other_drivers, as: :boolean %>
</div>

  <%= f.button :submit, class:'btn btn-light' %>
  <%= link_to "Cancel", :back, class:'btn btn-light' %>

<% end %>
