<div class="partner-form-container" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= asset_url @good.photo_one %>)">
  <div class="partner-card row">
    <div class="other-info col-lg-4">
      <span class="text-dark">Some randome stuff will be here</span>
    </div>
    <div class="diff-forms col-lg-8">
      <% if @good.good_type.capitalize == 'Car' %>
      <%= render 'car_form' %>
      <% elsif @good.good_type.capitalize == 'Boat' %>
      <%= render 'boat_form' %>
      <% elsif @good.good_type.capitalize == 'Helicopter' %>
      <%= render 'helicopter_form' %>
      <% elsif @good.good_type.capitalize == 'Jet' %>
      <%= render 'jet_form' %>
      <% end %>
    </div>
  </div>
</div>
