<div class="container">

<%= simple_form_for @user do |f| %>

  <%= f.input :first_name, autofocus: true %>
  <%= f.input :last_name, autofocus: true %>
  <%= f.input :phone_number, autofocus: true %>
  <%= f.input :CPF, autofocus: true %>
  <%= f.input :bio, autofocus: true %>
  <%= f.input :occupation, autofocus: true %>
  <%= f.input :address, autofocus: true %>
  <div class="actions">
    <%= f.button :submit, class:'btn btn-primary'%>
  </div>
<% end  %>

</div>
