<div class="container">

  <h5>Name</h5>
  <li><%= @user.first_name %>  <%= @user.last_name %></li>
  <li>CPF: <%= @user.CPF %></li>
  <h5>Contact</h5>
  <li>Email: <%= @user.email %></li>
  <li>Phone number: <%= @user.phone_number %></li>
  <br>
  <li>About: <%= @user.bio %></li>
  <li>Occupation: <%= @user.occupation %></li>
  <li>address: <%= @user.address %></li>
</div>
