<div class="container">

  <h5>Name</h5>
  <li><%= @user.first_name %>  <%= @user.last_name %></li>
  <br>
  <h5>Info</h5>
  <li>CPF: <%= @user.CPF %></li>
  <li>Occupation: <%= @user.occupation %></li>
  <li>address: <%= @user.address %></li>
  <br>
  <h5>Contact</h5>
  <strong>Email:</strong> <%= @user.email %>
  <strong>Phone number:</strong> <%= @user.phone_number %>
  <br>
  <br>
  <h5>About</h5>
  <li>About: <%= @user.bio %></li>

  <%= link_to 'Edit profile', edit_user_path %> 

</div>
