<div class="container">
  <div class="card profile-user">
    <div class="card-body">
      <%= cl_image_tag current_user.profile_picture, width:150, height: 150, crop: :thumb, gravity: :face, class: 'profile-pic' %>
      <h5 class="profile-name">Name</h5>
      <li><%= @user.first_name %>  <%= @user.last_name %></li>
      <br>
      <h5>Info</h5>
      <li>CPF: <%= @user.CPF %></li>
      <li>Occupation: <%= @user.occupation %></li>
      <li>Address: <%= @user.address %></li>
      <br>
      <h5>Contact</h5>
      <strong>Email:</strong> <%= @user.email %>
      <p><strong>Phone number:</strong> <%= @user.phone_number %></p>
      <br>
      <h5>About me</h5>
      <li><%= @user.bio %></li>

      <%= link_to 'Edit profile', edit_user_registration_path, class: 'btn btn-secondary btn-profile' %>
    </div>
  </div>
</div>
