<div class="container partners-container">
  <% if current_user.partners.empty? %>
  <div class="no-partners">
    <h1>Sorry <%= current_user.first_name %> it seems like you don't have any PARTNERS yet</h1>
    <p>go to the index page and ...</p>
  </div>
  <% else %>
    <% @goods.each do |good| %>
      <%= link_to good_path(good), class: 'partners-center' do %>
        <div class="my-card" style="background-image: url(<%= asset_url "#{good.good_type}.jpg"%>); background-size: cover">
          <div class="good-title"><%= good.brand %> <%= good.model %></div>
          <div class="partners-show-flex">
            <% good.users.each do |user| %>
              <%= cl_image_tag user.profile_picture, height: 100, width: 100, crop: :thumb, gravity: :face, class: 'rounded-circle avatar', data:{ toggle: 'popover', trigger: 'hover', placement: 'top', content: "#{user.first_name}"} %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
