<div class="container">
  <div class="card login-user">
    <div class="login-content">
      <h2>Log in</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.input :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.input :password %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.input_field :remember_me, as: :boolean, boolean_style: :inline %>
        <%= f.label :remember_me %>
      </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-secondary btn-signin' %>
        <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-secondary btn-signin' %>
        <%= link_to "Forgot your password?", new_user_password_path, class: 'btn btn-secondary btn-signin' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
