<%= simple_form_for [@good, @partner] do |f|  %>
  <div class="field">
    <%= f.input :km_month, label: "Quantos quilômetros você pretende dirigir, em média, por mês?" %>
  </div>
  <div class="field">
    <%= f.input :track_use, label:'Para usar na pista', as: :boolean %>
  </div>
  <div class="field slideTwo">
    <%= f.input :other_drivers, label: 'Emprestar para outras pessoas', as: :boolean %>
  </div>
  <div class="form-btns">
  <%= f.button :submit, class:'btn btn-partnr-yellow' %>
  <%= link_to "Cancelar", good_path(@good), class:'btn btn-outline-partnr-dark-gray', data: {dismiss: 'modal'} %>
  </div>
<% end %>
