<% @goods.each do |good| %>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <%= link_to good_path(good), class: 'text-decoration-none' do %>
      <div class="index-card mb-4 bg-white rounded">
        <div class="index-img" style="background-image: url(<%= asset_url good.photo_one%>)"> </div>
        <div class="card-body pb-2 mb-1">
          <div class="border-partnr-blue text-partnr-dark-gray rounded pl-1 pr-1 float-right"><%= good.good_type %></div>
          <h5 class="card-title"><strong><%= good.brand %></strong> <%= good.model %></h5>
          <div class="card-text">
            <div class="mt-3 mb-1 pb-2">
              <span class="h6 border-partnr-yellow text-partnr-yellow rounded p-1 mr-2"><%= good.fabrication_year %></span>
              <span class="text-partnr-dark-gray"><%= good.kilometers %> km</span>
            </div>
            <div class="good-price">
              <p class="d-flex mb-0">
                <small>R$</small>
                <span class="h6">
                  <span class="font-weight-bold"><%= good.price %></span> | <%= good.price.to_i / 4 %><small class="text-secondary">/partnr</small>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
