<div class="container">
  <div class="card-columns">
    <% @goods.each do |good| %>
    <div class="card index-card" style="width: 18rem;">
      <%= image_tag 'seb.jpeg', class:"card-img-top index-img" %>
      <div class="card-body">
        <h5 class="card-title"><%= good.brand %> <%= good.model %></h5>
        <div class="card-text">
          <div class="good-type">
            <%= good.good_type %>
          </div>
          <div class="good-date">
            <%= good.model_year %>
            <%= good.fabrication_year %>
          </div>
          <div class="good-price">
            <%= good.price %>
          </div>
          <div class="good-details">
            <%= good.chassis %>
            <%= good.licens_plate %>
            <%= good.kilometers %>
            <%= good.color %>
          </div>
          <div class="good-facts">
            <%=  good.facts %>
          </div>
        </div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <% end %>
  </div>
</div>
