<div class="parntr-container">
  <div class="flex">
    <div class="col-sm-12 col-md-9 float-left p-0">
      <div id="carouselExampleControls" class="carousel slide mb-3" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= cl_image_tag @good.photo_one %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @good.photo_two %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @good.photo_three %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @good.photo_four %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <% unless @file.nil? %>
        <video width="100%" height="auto" poster="<%= cl_image_path @good.photo_one %>" controls>
          <source src="<%= cl_video_path @good.video %>" type="video/webm">
        </video>
      <% end %>
    </div>

    <div class="col-sm-12 col-md-3 float-right p-0">
      <div class="bg-partnr-yellow px-5 py-4">
        <h4 class="p-0 m-0 mb-1">
          <span class="h6 border border-dark rounded p-1 pl-2 mr-2">
            <%= @good.fabrication_year %>
          </span>
          <span class="font-weight-bold">
            <%= @good.brand %>&nbsp<%= @good.model %>
          </span>
        </h4>
      </div>
      <div class="px-5 py-4">
        <div class="good-price">
          <p class="d-flex">
            <small>R$</small>
            <span class="h4">
              <% formated_price = [] %>
              <% @formated_price.each do |d| %>
                <% @formated_price.index(d) % 3 == 0 ? formated_price << "#{d}." : formated_price << d %>
              <% end %>
              <span class="font-weight-bold"><%= formated_price.join %></span> | <%= @formated_price.join.to_i / 4 %><small class="text-secondary">/partnr</small>
            </span>
          </p>
        </div>

        <div>
          <% if @users.include?(current_user) %>
            <% if @good.status %>
              <%= link_to icon('fas', 'glass-cheers') + " Fechou!", goods_path, class: 'btn btn-partnr btn-partnr-yellow px-4 py-3 disabled' %> <%=  %>
            <% else %>
              <% @good.users.each do |user| %>
                <%= cl_image_tag user.profile_picture, class: 'avatar ' %>
              <% end %>
            <% end %>
          <% else %>
            <% if @good.status %>
              <%= link_to "Perdeu o deal", goods_path, class: 'btn btn-partnr btn-partnr-blue px-4 py-3 disabled' %>
            <% else %>
              <%= link_to "Quero", new_good_partner_path(@good), class: 'btn btn-partnr btn-partnr-blue px-4 py-3' %>
            <% end %>
          <% end %>
          <%= link_to "Voltar", goods_path, class: 'btn btn-outline-partnr-dark-gray px-4 py-3' %>
        </div>

        <!-- starts the nav w/ general info/specs -->
        <ul class="nav my-4" id="myTab" role="tablist">
          <li class="nav-item pl-0 pr-2 py-2">
            <a class="my-minimal-tab px-0 py-2 active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Geral</a>
          </li>
          <li class="nav-item p-2">
            <a class="my-minimal-tab px-0 py-2" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Specs</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div>
              <div class="d-flex justify-content-between mb-2 pb-2 text-partnr-dark-gray border-bottom">
                <strong>Cor </strong><%= @good.color.capitalize %>
              </div>
              <div class="d-flex justify-content-between mb-2 pb-2 text-partnr-dark-gray border-bottom">
                <strong>Version </strong><%= @good.version.upcase %>
              </div>
              <div class="d-flex justify-content-between mb-2 pb-2 text-partnr-dark-gray border-bottom">
                <strong class="mt-2 pt-1">Ano</strong>
                <div class="d-flex flex-column text-right">
                  <span><%= @good.model_year.to_s + " (modelo)" %></span>
                  <%= @good.fabrication_year.to_s  + " (fabricação)" %>
                </div>
              </div>
              <div class="d-flex justify-content-between mb-2 pb-2 text-partnr-dark-gray border-bottom">
                <strong>Chassis</strong><%= @good.serial_number %>
              </div>
              <div class="d-flex justify-content-between mb-2 pb-2 text-partnr-dark-gray border-bottom">
                <strong>Placa </strong><%= @good.licens_plate %>
              </div>
              <div class="d-flex justify-content-between mb-2 pb-2 text-partnr-dark-gray border-bottom">
                <strong>Quilometragem </strong><%= @good.kilometers %> km
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="text-partnr-dark-gray">
              <%=  @good.facts %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
