<div class="parntr-container good-show">
  <div class="flex">
    <div class="col-sm-12 col-md-9 float-left p-0">
      <div id="carouselExampleControls" class="carousel slide mb-3" data-ride="carousel">
        <div class="carousel-inner show-photos">
          <div class="carousel-item active">
            <%= cl_image_tag @good.photo_one %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @good.photo_two %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @good.photo_three %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @good.photo_four %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <% if !@file.nil?%>
      <video width="100%" height="auto" poster="<%= cl_image_path @good.photo_one %>" controls>
        <source src="<%= cl_video_path @good.video %>" type="video/webm">
      </video>
<% end %>
    </div>

    <div class="col-sm-12 col-md-3 float-right p-0">
      <div class="bg-partnr-yellow p-4 yellow-show">
        <h4 class="border border-dark rounded p-1"><%= @good.fabrication_year %> <%= @good.brand %> <%= @good.model %></h4>
        <div class="good-date">
          <p><strong>Ano: </strong><%= @good.model_year %> - <%= @good.fabrication_year %></p>
        </div>
        <div class="good-details">
          <p><strong>Número serial: </strong><%= @good.serial_number %></p>
          <p><strong>Placa: </strong><%= @good.licens_plate %></p>
          <p><strong>Quilometragem: </strong><%= @good.kilometers %>km</p>
          <p><strong>Cor: </strong><%= @good.color %></p>
        </div>
        <div class="good-price">
          <p><i class="fas fa-dollar-sign"></i> <%= @good.price %></p>
        </div>
        <div class="good-facts">
          <p><strong>Fatos: </strong><%=  @good.facts %></p>
        </div>
      </div>
    </div>
    <div class="round-partnr">
    <% if @users.include?(current_user) %>
      <% if @good.status %>
        Fechou!
      <% else %>
        <% @good.users.each do |user| %>
        <%= cl_image_tag user.profile_picture, class: 'avatar ' %>
        <% end %>
      <% end %>
    <% else %>
      <% if @good.status %>
        Epa, perdeu o deal!
      <% else %>
        <%= link_to "Quero", new_good_partner_path(@good), class: 'btn btn-secondary btn-show-good-quero' %>
      <% end %>
    <% end %>
    <%= link_to "Voltar", goods_path, class: 'btn btn-secondary btn-show-good' %>
    </div>
  </div>
</div>
