<div class="container">
  <div class="card add-good">
    <div class="add-good-content">
      <%= simple_form_for [:admin, @good] do |f| %>
        <%= f.input :good_type, label: "Tipo do bem", collection: [ "Car", "Boat", "Helicopter", "Jet"], autofocus: true %>
        <%= f.input :brand, label: "Marca" %>
        <%= f.input :model, label: "Modelo" %>
        <%= f.input :model_year, label: "Ano" %>
        <%= f.input :fabrication_year, label: "Ano de fabricação" %>
        <%= f.input :serial_number, label: "Número serial" %>
        <%= f.input :licens_plate, label: "Placa" %>
        <%= f.input :kilometers, label: "Quilometragem" %>
        <%= f.input :price, label: "Preço" %>
        <%= f.input :color, label: "Cor" %>
        <%= f.input :facts, label: "Fatos" %>
        <%= f.input :version, label: "Versão" %>
        <div class="actions upload">
          <%= image_tag "", width: 200, class: "invisible photo1", id: "photo-preview0", style: "border-radius: 5%" %>
          <%= f.input :photo_one, input_html: { class: 'invisible photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Escolher foto 1' %>
          <%= f.input :photo_one_cache, as: :hidden %>
          <%= image_tag "", width: 200, class: "invisible photo2", id: "photo-preview1", style: "border-radius: 5%" %>
          <%= f.input :photo_two, input_html: { class: 'invisible photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Escolher foto 2' %>
          <%= f.input :photo_two_cache, as: :hidden %>
          <%= image_tag "", width: 200, class: "invisible photo2", id: "photo-preview2", style: "border-radius: 5%" %>
          <%= f.input :photo_three, input_html: { class: 'invisible photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Escolher foto 3' %>
          <%= f.input :photo_three_cache, as: :hidden %>
          <%= image_tag "", width: 200, class: "invisible photo2", id: "photo-preview3", style: "border-radius: 5%" %>
          <%= f.input :photo_four, input_html: { class: 'invisible photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Escolher foto 4' %>
          <%= f.input :photo_four_cache, as: :hidden %>
          <%= image_tag "", width: 200, class: "invisible photo3", id: "photo-preview4", style: "border-radius: 5%" %>
          <%= f.input :video, input_html: { class: 'invisible photo-input'}, label_html: { class: 'upload-video'}, label: '🎥  Escolher vídeo' %>
          <%= f.input :video_cache, as: :hidden %>
        </div>
        <div class="actions">
          <%= f.button :submit, class:'btn btn-secondary btn-add-good' %>
        </div>

      <% end  %>
    </div>
  </div>
</div>

