<!DOCTYPE html>
<html>
  <head>
    <title>Partnr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="icon" type="image/x-icon"  href="/favicon.ico">
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <% if notice %>
      <p class="notice alert alert-success text-center mb-0"><%= notice %></p>
    <% elsif alert %>
      <p class="alert alert alert-danger text-center mb-0"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <!-- calls clicksign function after importing clicksign js library function -->
    <%= yield :after_js %>
  </body>
</html>
